<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - EasyTrips</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    @* Gọi Header *@
    @await Html.PartialAsync("header")

    <main role="main">
        @RenderBody()
    </main>

    @* Gọi Footer *@
    @await Html.PartialAsync("footer")
</body>
</html>